doctype html
html
   head
      
      title = "contact us"
      style.
          h1{
             text-align:center;
             color:blue;
          }
      
   body
   include ./nav_bar.pug
   div
   h1 hello from contact us