
style.
    div{
       display:flex;
       justify-content:space-around;
       
     }
     a{
         text-decoration:none;
         background:#00F3FB;
          border-radius: 5px
     }
     a:hover{
         color:red;
     }
div.header 
 a(href = "/" ) Home page 
 a(href = "/Contact_us") Contact us 
 a(href = "/Our_Services") Our Services